@import "tailwindcss";

:root {
    --black-color: #030711;
    --navy-color: #1d283a;
    --gray-color: #7f8ea3;
    --color-chip-shadow : 1 1 2px rgba(0,0,0,0.5);
}
body {
    background: var(--black-color);
    color: white;
    position: relative;
}

button {
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


